*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// #D6EFFA
html {
  font-size: 62.5%;
  @media only screen and (max-width: 740px) {
    font-size: 50%;
  }
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  line-height: 1;
  font-size: 1.6rem;
  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  font-weight: 700;
}

ul {
  list-style: none;
}
h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
}

section {
  margin-top: 5rem;
}

button {
  cursor: pointer;
  background: transparent;

  &:focus {
    outline: 0;
  }
}

.whatsapp {
  color: #25d366;
}

.instagram {
  color: #e1306c;
}

.logo {
  font-size: 3rem;
  color: #555;
}

.slick-slide {
  margin: 0 27px;
}

.join {
  padding: 1.5rem !important;
  border: 1px solid #ef8767;
  border-radius: 3px;
  color: #ef8767;
  background: transparent;
  font-weight: 700;
  cursor: pointer;
  font-size: inherit;

  &:focus {
    outline: 0;
  }

  @media only screen and (max-width: 740px) {
    display: none;
  }

  &:hover {
    background: #ef8767;
    color: #fff;
  }
}

.container {
  padding: 4rem 7rem;
  height: 100%;
  width: 100%;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  &__row {
    display: flex;
    height: 6.4rem;
    padding: 4rem 7rem;
    align-items: center;
    transition: background 0.5s ease;
  }

  &__list {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
    a {
      padding: 0.5rem 3rem;
    }
  }

  &__filters {
    display: flex;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    background: #fff;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s ease;
    border-bottom: 1px solid #e5e5e5;
  }

  &__filter {
    padding: 0 1rem;

    &:hover {
      border-bottom: 1px solid #ef8767;
    }
  }

  &__filter-link {
    color: #777;
    font-weight: 100;
    line-height: 24px;
    display: inline-block;
    padding: 8px 0;
    box-sizing: content-box;
  }
}

.header {
  padding-top: 10rem;
  width: 100%;
  height: 50vh;

  &__wrapper {
    background: #d6effa;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    width: 50%;
    @media only screen and (max-width: 900px) {
      width: 100%;
    }
  }

  &__bg {
    width: 50%;
    height: 100%;
    position: relative;

    @media only screen and (max-width: 900px) {
      display: none;
    }
    img {
      height: 130%;
      position: absolute;
      top: -3rem;
      right: 3rem;
    }
  }

  &__title {
    font-size: 4.5rem;
    font-weight: 700;
    font-family: inherit;
    letter-spacing: 1px;
    @media only screen and (max-width: 900px) {
      text-align: center;
      font-size: 4.5rem;
    }
    @media only screen and (max-width: 740px) {
      text-align: center;
      font-size: 3.5rem;
    }
  }
  &__search-box {
    position: relative;
    height: auto;
    margin-top: 3rem;

    i {
      position: absolute;
      top: 50%;
      left: 1.5rem;
      transform: translateY(-50%);
      color: #ef8767;
      cursor: pointer;
    }
  }
  &__search {
    border-radius: 3rem;
    padding: 1.5rem 4.5rem;
    border: 0;
    font-size: 1.6rem;
    width: 100%;

    &:focus {
      outline: 0;
    }
  }
}

.main {
  margin-top: 7rem;
}

.featured {
  &__container {
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

.categories {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 140rem;

  &__container {
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}

.category {
  padding: 5rem 0rem;
  width: 12rem;
  background: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  transition: 0.2s ease;

  &:hover {
    background: #d1d1d1;
  }

  i {
    font-size: 3rem;
    color: rgb(70, 70, 70);
  }

  p {
    margin-top: 1rem;
    font-weight: 500;
  }
}

.profile {
  position: relative;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &__bg {
    width: 100%;
    height: 30rem;
    border-radius: 4px 4px 0 0;
    transition: opacity 0.3s ease-in-out;
    border-bottom: 1px solid #e5e5e5;

    @media only screen and (max-width: 740px) {
      height: 20rem;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      transition: filter 0.3s ease-in-out;
    }
  }

  &:hover &__bg img {
    filter: brightness(90%);
  }

  &__img {
    height: 3.6rem;
    width: 3.6rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    @media only screen and (max-width: 1200px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__personal-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50%;
    @media only screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  &__name {
    @media only screen and (max-width: 1200px) {
      text-align: center;
    }
  }

  &__location {
    font-size: 1rem;
    display: flex;
    color: #777;
    padding: 5px 0;
    align-items: center;
    @media only screen and (max-width: 1200px) {
      justify-content: center;
    }

    i {
      padding-right: 3px;
    }
  }

  &__contact {
    a {
      padding: 0 5px;
      @media only screen and (max-width: 900px) {
        padding: 10px;
        font-size: 3rem;
      }
    }
  }

  &__stats {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  &__followers,
  &__real,
  &__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    h4 {
      margin-bottom: 3px;
    }
    p {
      color: #777;
      font-size: 1.2rem;
    }
  }
}
.profiles {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 450px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__sub-title {
    text-align: center;
    color: #ef8767;
  }

  h2 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

.footer {
  margin-top: 3rem;
  padding: 10rem 0;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 10000000;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  width: 45rem;

  h1 {
    padding: 32px 0;
    text-align: center;
    font-size: 24px;
    line-height: 130%;
    color: #222325;
  }

  &__form {
    button {
      display: flex !important;
      justify-content: center;
      width: 100%;
      background: #ef8767;
      color: #fff;
      padding: 13px 30px 13px 16px;
      border: 1px solid #e4e5e7;
      border-radius: 4px;
      font-weight: 700;
      transition: 0.2s;

      &:hover {
        background: #b3634b;
      }
    }

    input {
      width: 100%;
      padding: 1.3rem 1.4rem;
      border: 1px solid #c5c6c9;
      border-radius: 4px;
      box-shadow: none;
      font: inherit;
      color: #404145;
      -webkit-transition: 0.15s ease-in-out;
      transition: 0.15s ease-in-out;
      margin-bottom: 1.5rem;

      &::-webkit-input-placeholder {
      }
    }
    p {
      color: #62646a;
      text-align: center;
      padding-top: 20px;
      font-size: 1rem;
    }
  }
}

.facebook-signing-button {
  display: flex;
  justify-content: center;
  background: #4267b2;
  border: 1px solid #4267b2;
  border-radius: 4px;
  padding: 13px 30px 13px 16px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  text-align: left;
  align-items: center;
  text-align: center;
  transition: 0.2s;

  &:hover {
    background: #36538f;
  }

  p {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 0;
  }

  i {
    font-size: 2rem;
  }
}

.google-signing-button {
  display: flex;
  justify-content: center;
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  padding: 13px 30px 13px 16px;
  margin: 12px 0;
  width: 100%;
  text-align: left;
  align-items: center;
  text-align: center;
  transition: 0.2s;

  &:hover {
    background: rgb(216, 214, 214);
  }

  p {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
  }

  i {
    font-size: 2rem;
  }
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #62646a;
  font-weight: 100;
  font-size: 1.2rem;


  p{

  }

  a{
    padding-left: 4px;
    color: #ef8767;
  }
}
.divider {
  height: 12px;
  margin: 26px 0 32px;
  text-align: center;
  border-bottom: 1px solid #e4e5e7;

  span {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 8px;
    background-color: #fff;
    color: #404145;
  }
}
